<mat-card>
  <div class="employee-box">
    <button routerLink="/register" mat-raised-button color="primary">
      Register new employee
    </button>
    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Search:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter with the data..."
          (input)="search($event)"
        />
      </mat-form-field>
    </div>
  </div>

  <table mat-table [dataSource]="employees" class="mat-elevation-z8">
    <ng-container matColumnDef="Active">
      <th mat-header-cell *matHeaderCellDef>Situation</th>
      <td mat-cell *matCellDef="let employee">
        <div *ngIf="employee.active == true; else inactive">
          <img
            src="assets/images/Ativo.png"
            style="height: 20px; width: 20px"
            alt=""
          />
        </div>
        <ng-template #inactive>
          <img
            src="assets/images/Inativo.png"
            style="height: 20px; width: 20px"
            alt=""
          />
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
    </ng-container>

    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef>Last name</th>
      <td mat-cell *matCellDef="let employee">{{ employee.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="Department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let employee">{{ employee.department }}</td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let employee">
        <button
          routerLink="/edit/{{ employee.id }}"
          mat-raised-button
          color="accent"
        >
          Edit
        </button>
        
        <button routerLink="/detail/{{ employee.id }}" mat-raised-button>
          Details
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let employee">
        <button mat-raised-button color="warn" (click)="OpenDialog(employee.id)">
          Delete
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</mat-card>
