<mat-card>
  <div *ngIf="employee">
    <h1>Are you sure that you want to delete this employee?</h1>
    <div>
      <h2 style="font-style: bold">Employee:</h2>
      <h3>{{ employee.name }}</h3>
      <h2 style="font-style: bold">Department:</h2>
      <h3>{{ employee.department }}</h3>
    </div>
    <div>
      <h2>Are you sure you want to delete this employee?</h2>
      <button mat-raised-button color="warn" (click)="DeleteEmployee()">Delete</button>
      <button mat-raised-button (click)="DeleteCancel()">Cancel</button>
    </div>
  </div>
</mat-card>
