<mat-card>
  <div>
    <h1>Employee details</h1>
  </div>
  <div *ngIf="employee">
    <form>
      <div class="input_box">
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input matInput type="text" value="{{ employee.name }}" disabled />
        </mat-form-field>
      </div>
      <div class="input_box">
        <mat-form-field>
          <mat-label>Last name:</mat-label>
          <input
            matInput
            type="text"
            value="{{ employee.lastName }}"
            disabled
          />
        </mat-form-field>
      </div>
      <div class="input_box">
        <mat-form-field>
          <mat-label>Department</mat-label>
          <input
            matInput
            type="text"
            value="{{ employee.department }}"
            disabled
          />
        </mat-form-field>
      </div>
      <div class="input_box">
        <mat-form-field>
          <mat-label>Shift: </mat-label>
          <input matInput type="text" value="{{ employee.shift }}" disabled />
        </mat-form-field>
      </div>
      <div class="input_box">
        <mat-form-field>
          <mat-label>Situation: </mat-label>
          <input
            matInput
            type="text"
            value="{{ employee.active == true ? 'Active' : 'Inactive' }}"
            disabled
          />
        </mat-form-field>
      </div>
      <div class="input_box">
        <mat-form-field>
          <mat-label>Created date </mat-label>
          <input
            matInput
            type="text"
            value="{{ employee.createdDate }}"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="input_box">
        <mat-form-field>
          <mat-label>Updated date </mat-label>
          <input
            matInput
            type="text"
            value="{{ employee.modifiedDate }}"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="btn-box">
        <button (click)="shutDownEmployee()" mat-raised-button color="warn">
          Layoff Employee
        </button>
        <button routerLink="" mat-raised-button>Return</button>
      </div>
    </form>
  </div>
</mat-card>
